/* Estilos para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

/* Estilos para los encabezados */
h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

nav {
    background-color: #a19e9e;
    color: #FFF;
	flex: 1;
	text-align: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
	margin-left: 20px;
}

nav ul li a {
    display: block;
    padding: 10px;
	color: #fff;
	text-decoration: none;

}



/* Estilos para la sección principal */
section {
    margin: 20px;
}

/* Estilos para los artículos */
article {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #CCC;
}

/* Estilos para el aside */
aside {
    background-color: #F2F2F2;
    padding: 20px;
    border: 1px solid #CCC;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #FFF;
    text-align: center;
    padding: 10px;
}

/* Estilos para el logo en el header */
header img {
    display: block;
    /* margin: 0 auto; */
    width: 200px; /* Modificar el ancho del logo según tu necesidad */
}


/* Estilos para el logo */
.logo {
	display: inline-block;
	border-radius: 50%;
	overflow: hidden;
	border: 2px solid #333;
	width: 100px;
	height: 100px;
	transition: all 0.2s ease-in-out; /* efecto de transición suave */
}

.logo:hover {
	transform: scale(1.1); /* escala el logo en un 10% */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* agrega una sombra */
}

.logo img {
	display: block;
	margin: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}



/* Estilos para el menú */

main {
	margin-top: 15%;
}

.main-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color:  #a19e9e;
	color: #fff;
	padding: 10px;
	z-index: 9999;
	display: flex;
	align-items: center;
}

.main-nav {
	display: flex;
	align-items:center;
	justify-content:right;
	flex-grow: 1;
	margin-right: 5%;
}

.main-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.main-nav li {
	margin-right: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.main-nav a {
	color: #fff;
	text-decoration: none;
    padding: 10px;
	display: block;
}

.main-nav a:hover {
	background-color: #fff;
	color: #333;
}

.seccion-principal {
	margin-top: 15%;
}

footer a img {
	width: 50px;
}

/* estilos de iconos redes */

.fa-brands {
    font-size: 30px;
    margin: 10px;
    transition: all 0.2s ease-in-out; /* efecto de transición suave */
    padding: 10px;
    border-radius: 50%;
    color: blueviolet;
    
}

.fa-brands:hover {
    
    transform: scale(1.3); /* escala el logo en un 10% */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* agrega una sombra */
}

.fa-twitter:hover {
    color: #00acee;
}

.fa-facebook:hover {
    color: #3b5998;
}

.fa-pinterest:hover {
    color: #c8232c;
}

.fa-youtube:hover {
    color: #c4302b;
}

.fa-instagram:hover {
    color: #3f729b;
}

.fa-whatsapp:hover {
    color: #25D366;
}




