/* Estilos para el cuerpo de la página */
body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}


main {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h2 {
	font-size: 24px;
	margin: 10px 0;
}

p {
	font-size: 18px;
	margin: 5px 0;
}


/* Estilos para la sección principal */

.portada img {
	width: 100%;
	height: 100%;
}


.seccion-index-contenido {
	display: flex;
	margin: 1rem;
}

.seccion-principal-titulo {
	text-align: left;
}

.portada-destino img {
	width: 100%;
	height: 100%;
}

.seccion-principal-destino {
	display: flex;
	margin: 1rem;
}

.seccion-index-contenido {
	display: flex;
	border-radius: 5px;
}

div img {
	max-width: 100%;
	align-items: center;
	overflow: hidden;
}

div h2 {
	text-align: center;

}

.boton-destinos {
	display: flex;
	align-self: center;
	padding: 1rem;
	margin-bottom: 1rem;
}

.seccion-principal-titulo {
	text-align: center;
	font-style: italic;
	text-align: justify;
}



/* Estilos para los artículos */
article {
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid #CCC;
}

/* Estilos para el aside */
aside {
	background-color: #F2F2F2;
	padding: 20px;
	border: 1px solid #CCC;
}

/* Estilos para el pie de página */
footer {
	background-color: #333;
	color: #FFF;
	text-align: center;

}

/* Estilos para el logo en el header */
header img {
	display: block;
	/* margin: 0 auto; */
	width: 180px;
	/* Modificar el ancho del logo según tu necesidad */
}


/* Estilos para el logo */
.logo {
	margin-left: 30px;
	margin-top: 5px;
	display: inline-block;
	border-radius: 50%;
	overflow: hidden;
	border: 2px solid #333;
	width: 90px;
	height: 90px;
	transition: all 0.2s ease-in-out;
	/* efecto de transición suave */
}

.logo:hover {
	transform: scale(1.1);
	/*escala el logo en un 10% */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	/* agrega una sombra */
}

.logo img {
	display: block;
	margin: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}


/* Estilos para el menú */


.main-header {

	box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
	/* Agrega una sombra con un desplazamiento horizontal de 0, un desplazamiento vertical de 2px, un radio de 4px y un color de sombra con una opacidad del 20% */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 20%;
	background-color: rgb(138, 84, 189);
	color: #fff;
	z-index: 9999;
	display: flex;
	align-items: center;

}


.main-nav {
	display: flex;
	align-items: center;
	justify-content: right;
	flex-grow: 1;
	margin-right: 5%;
	/* estilos del nav :*/
	background-color: rgb(138, 84, 189);
	color: #FFF;
	flex: 1;
	text-align: right;
}

.main-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	/* estilos del nav: */
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-nav li {
	margin-right: 10px;
	border: 1px solid #fff;
	border-radius: 5px;
	/* estilos de nav ul li: */
	display: inline-block;
	margin-left: 20px;
}

.main-nav a {
	color: #fff;
	text-decoration: none;
	padding: 10px;
	display: block;
}


/* estilo del nav cuando el mouse para por encima   */

.main-nav a:hover {
	background-color: #fff;
	color: #333;
}



footer a img {
	width: 50px;
}

/* estilos de iconos redes */

.fa-brands {
	font-size: 30px;
	margin: 10px;
	transition: all 0.2s ease-in-out;
	/* efecto de transición suave */
	padding: 10px;
	border-radius: 50%;
	color: blueviolet;

}

.icon-container {
	top: 10px;
	padding: 20px;
	position: relative;
	font-size: 30px;
}

.fa-chevron-up {
	color: #0d6efd;
	position: absolute;
	top: 0;
	transition: top 0.3s ease-out;
}

.fa-chevron-up:hover {
	top: -10px;
}


.fa-brands:hover {

	transform: scale(1.1);
	/* escala el logo en un 10% */
	box-shadow: 0 0 10px rgba(255, 253, 253, 0.5);
	/* agrega una sombra */
}

.fa-twitter:hover {
	color: #00acee;
}

.fa-facebook:hover {
	color: #3b5998;
}

.fa-pinterest:hover {
	color: #c8232c;
}

.fa-youtube:hover {
	color: #c4302b;
}

.fa-instagram:hover {
	color: #3f729b;
}

.fa-whatsapp:hover {
	color: #25D366;
}




/* estilos de nosotros */

.nosotros {
	margin-top: 8%;
	overflow: hidden;
	display: flex;
	width: 100%;
}

.image-maleta {
	float: right;
	margin: 5px;
	object-fit: contain;
	border-radius: 30px;
	max-width: 50%;
}

.nosotros p {
	padding: 40px;
	float: left;
	max-width: 50%;
	margin-top: 0;
	margin-bottom: 1em;
	text-align: justify;

}

/* estilos de los botones */

.boton {
	/* display: inline-block; */
	padding: 10px 20px;
	font-size: 18px;
	color: #fff;
	background-color: #1a73e8;
	border-radius: 5px;
	text-decoration: none;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	/* sombra */
}

.boton:hover {
	background-color: #0d47a1;
}


/* estilos del carrousel */





/* estilos del video */

.video {
	margin-top: 20px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}



/*estilos de la pagina de contacto*/

/* estilos del formulario */

.contacto-container {
	margin-top: 9%;
	/* margen para que el formulario sea visible por completo */
}

.bigicon {
	font-size: 35px;
	color: #0d6efd;
}

.formulario {
	background-color: lightpink;
	width: 600px;
	/* ajusta el ancho según tus necesidades */
	margin: 0 auto;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

/* Nuevos estilos para el main h2 p y iframe */



iframe {
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 200px;

}

.map-container {
	position: relative;
	width: 100%;
	height: 420px;
	display: flex;
	flex-wrap: wrap;
}

.map {
	height: 200px;
	width: 50%;
	padding: 10px;
}

@media (max-width: 767px) {
	.map-container {
		height: auto;
		flex-direction: column;
	}

	.map {
		width: 100%;
	}

	#map3,
	#map4 {
		display: none;
	}
}

/* mas estilos de la pagina contacto */


.contacto-container {
	display: flex;
}

/* .datos-container {
	width: 600px;
} */

.formulario {
	width: 600px;
}

.main-contacto {
	/* background-color: papayawhip; */
}